# London bikes sharing

### Table of contents

1. [Introduction](#introduction)
2. [Data Gathering](#paragraph1)
    1. [The Datasets Description](#subparagraph1)
3. [Data Exploration](#paragraph2)
    1. [Metadata](#subparagraph2)
4. [Data Manipulation](#paragraph3)

### Introduction<a id="introduction"></a>

Historical data for bike sharing in London 'Powered by TfL Open Data'

### Data Gathering<a id="paragraph1"></a>

#### The Datasets Description<a id="subparagraph1"></a>

The following code shows the loading of the bike sharing dataset. The data is gathered from 3 sources:

•	https://cycling.data.tfl.gov.uk/ 'Contains OS data © Crown copyright and database rights 2016' and Geomni UK Map data © and database rights [2019] 'Powered by TfL Open Data' - Bike sharing usage dataset

•	https://freemeteo.com - weather data

•	https://www.gov.uk/bank-holidays - official bank holidays in London.

Merged and published on "Kaggle" - https://www.kaggle.com/hmavrodiev/london-bike-sharing-dataset By: Hristo Mavrodiev.

Note: The official data for bike sharing contains "Start date" and "End Date" columns, for the calculations the trips are grouped by "Start date" column for every hour. So, if the sharing is the long duration and passes 1 hour it's not counted again.

We’ll be using Python version 3.11.7 in Visual Studio Code and writing the code in a notebook.

First step is to make sure that our environment is ready, so we’ll install the necessary libraries using the following commands in the command line:

First we need to activate the environment using:

conda activate basicanalysis

then we’ll install the libraries:

pip install pandas

pip install zipfile

pip install kaggle

pip install openpyxl

Now we'll import those libraries:

In [15]:
# Import libraries
import pandas as pd
import zipfile
import kaggle

Download the dataset from kaggle

In [16]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

Extract the csv file from the downloaded zip file

In [17]:
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

Read the csv file as pandas dataframe

In [18]:
bikes = pd.read_csv('london_merged.csv')

### Data exploration<a id="paragraph2"></a>

#### Metadata<a id="subparagraph2"></a>
"timestamp" - timestamp field for grouping the data

"cnt" - the count of a new bike shares

"t1" - real temperature in C

"t2" - temperature in C "feels like"

"hum" - humidity in percentage

"wind_speed" - wind speed in km/h

"weather_code" - category of the weather

"is_holiday" - boolean field - 1 holiday / 0 non holiday

"is_weekend" - boolean field - 1 if the day is weekend

"season" - category field meteorological seasons: 0-spring ; 1-summer; 2-fall; 3-winter.

"weathe_code" category description:

1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity 2 = scattered clouds / few clouds 3 = Broken clouds 4 = Cloudy 7 = Rain/ light Rain shower/ Light rain 10 = rain with thunderstorm 26 = snowfall 94 = Freezing Fog

First, explore the data using `info()`

In [19]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

View the number of rows and columns

In [20]:
bikes.shape

(17414, 10)

View the data

In [21]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

Count the unique values in the `weather_code` column

In [22]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

Count the unique values in the `season` column

In [23]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

### Data manipulation<a id="paragraph3"></a>

Specifying the column names that I want to use, and renaming the columns to the specified column names

In [24]:
new_cols_dict = {
    'timestamp':'time',
    'cnt':'count',
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

bikes.rename(new_cols_dict, axis=1,inplace=True)

Changing the humidity values to percentage (i.e. a value from 0 and 1)

In [25]:

bikes.humidity_percent = bikes.humidity_percent/100

Creating a `season` dictionary so that we can map the integers 0-3 to the actual written values
Creating a `weather` dictionary so that we can map the integers 0-26 to the actual written values

Changing the `season` and `weather` columns data type to string

Mapping the values 0-3 to the corresponding `season`
Mapping the values 0-26 to the corresponding `weather`

In [26]:
season_dict = {
    '0.0':'Spring',
    '1.0':'Summer',
    '2.0':'Autumn',
    '3.0':'Winter'
}

weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

bikes.season = bikes.season.astype('str')
bikes.season = bikes.season.map(season_dict)

bikes.weather = bikes.weather.astype('str')
bikes.weather = bikes.weather.map(weather_dict)

Checking the data after changes

In [27]:
bikes.head

<bound method NDFrame.head of                       time  count  temp_real_C  temp_feels_like_C  \
0      2015-01-04 00:00:00    182          3.0                2.0
1      2015-01-04 01:00:00    138          3.0                2.5
2      2015-01-04 02:00:00    134          2.5                2.5
3      2015-01-04 03:00:00     72          2.0                2.0
4      2015-01-04 04:00:00     47          2.0                0.0
...                    ...    ...          ...                ...
17409  2017-01-03 19:00:00   1042          5.0                1.0
17410  2017-01-03 20:00:00    541          5.0                1.0
17411  2017-01-03 21:00:00    337          5.5                1.5
17412  2017-01-03 22:00:00    224          5.5                1.5
17413  2017-01-03 23:00:00    139          5.0                1.0

       humidity_percent  wind_speed_kph           weather  is_holiday  \
0                 0.930             6.0     Broken clouds         0.0
1                 0.930             5.0             Clear         0.0
2                 0.965             0.0             Clear         0.0
3                 1.000             0.0             Clear         0.0
4                 0.930             6.5             Clear         0.0
...                 ...             ...               ...         ...
17409             0.810            19.0     Broken clouds         0.0
17410             0.810            21.0            Cloudy         0.0
17411             0.785            24.0            Cloudy         0.0
17412             0.760            23.0            Cloudy         0.0
17413             0.760            22.0  Scattered clouds         0.0

       is_weekend  season
0             1.0  Winter
1             1.0  Winter
2             1.0  Winter
3             1.0  Winter
4             1.0  Winter
...           ...     ...
17409         0.0  Winter
17410         0.0  Winter
17411         0.0  Winter
17412         0.0  Winter
17413         0.0  Winter

[17414 rows x 10 columns]>

Writing the final dataframe to an excel file that I will use in the Tableau visualization, The file will be the `london_bikes_final.xlsx`

In [28]:
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')

Now that the data is ready, we'll move to Tableau for visualization.

To see the interactive dashboard please visit my Tableau Public account.